# Visual Studio and .NET 
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Ll]og/
[Ll]ogs/
.vs/
*.user
*.suo
*.userprefs
*.sln.docstates

# ASP.NET Core
appsettings.Development.json
appsettings.Development.*.json

# IDEs (Rider, VS Code)
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Mac / macOS specific
.DS_Store
.AppleDouble
.LSOverride
Icon\r\r
._*
.Spotlight-V100
.Trashes

# Package directories
packages/
*.nupkg

# MAUI / Mobile specific
*.keystore
*.jks
*.p12
*.mobileprovision
